/* Reset */
html,body { width:100%; height:100%; text-align:left; background:#EDEDED; font-family:Arial, sans-serif; font-size:12px; line-height:normal; color:#333; margin:0; padding:0; }
textarea { overflow:auto; outline:none; }
input,select,a { outline:none; }
img { border:none; }
* { margin:0; padding:0; }
h1,h2,h3,h4,h5,h6 { font-family:Arial, sans-serif; font-size:22px; font-weight:700; color:#000; }
p { text-align:left; }
a:link,a:visited { text-decoration:none; color: #000000; }
a:hover,a:active,a:focus { text-decoration:none; }
.clear { height:0; width:0; clear:both; display:block; visibility:hidden; overflow:hidden; font-size:0; line-height:0; margin:0; padding:0; }
.clearfix:after { content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0; }

/* Vanity Syling */
.main { width:970px; margin: 0 auto; font-size:14px; background-color:#FFFFFF; padding: 0 0 75px 0; border:1px solid #000000; }
header { height:auto; background-color:#000000; margin: 0 0 0px; padding: 20px; text-align:center; }
h1 { color:#FFFFFF; font-weight: 500; }
.main .container { display:table; float left; margin: 0 auto; padding: 15px 0 0; }
.main .container .formContainer { display:block; float left; padding: 0; float: left; }
.inputContainer { width:auto; height:auto; }
input { margin: 0 10px 4px 0; float:left; height:auto; }
.w300 { width:300px; }
input.checkbox { margin: 1px 4px 0 0; }
.inputLabel { display: inline-block; margin: 0 10px 0 0; float:left; }
.default { color:lightgray; }
.labelContainer { padding: 5px 0; display:inline-block; }
.vanityURL { padding: 0 0 4px 0; height:20px;}
.vanityURL.empty .removeVanity { display:none; }
.vanityURL .removeVanity { margin: 0 0 0 2px; }
, .vanityURL a:visited.removeVanity { color:#000000; }
.vanityURL.error {  }
.title { font-size:18px; }
.error.title { color:red; }
.vanityURL.error input { background-color:#FF9494;  }
.hide { display:none; }
#.logo { background: url(img/logo.png) 0 0 no-repeat; height: 50px; position: absolute; top: 8px; width: 120px; }
.submitButton { padding: 10px 0 0; background: url(img/menuSprite.png) 0 -40px repeat-x; height: 15px; margin: 10px 0 0; padding: 5px 0 5px 40px; width: 80px; }
.submit:hover {background-position: 0 0px;}
.submit a,.submit a:link,.submit a:visited { color:#EDEDED; }
.main .statusMessage { margin: 15px 0 0 0; }
.formContainer { max-width: 800px; }
.right { float:right; }

.sort .sortIcon { margin: 0 3px; padding: 0 15px 0 0; background: url("img/sprite-icons.png") no-repeat scroll -15px -15px transparent; }
.sort .sortIcon.descend { background-position: 0px -15px; }

.toolbar { width:100%; height:25px; background-color:#EDEDED; float: left; margin: 0 0 10px -1px; border: 1px solid #000000; padding: 6px; width: 958px; }
.toolbar .title { color:#000000; margin: 10px; size:12px; }

.icon-container { display:inline;}
.icon { margin-bottom: -4px; }
	
