
html, body, a {
    color: #666666;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
}

body {
    background-color: #F5F5F5;
}

.centerContainer {
    margin: 0 auto;
    width: 960px;
}

h1 {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 17px;
}

h3 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 17px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.twoColumnSpec .specLeft {
    width: 250px;
}

.twoColumnSpec td {
    padding: 8px 0 0;
}

.layoutBorder {
    border-bottom: 1px solid #CCCCCC;
}

caption, th, td {
    font-weight: normal;
    text-align: left;
}

.twoColumnSpec .specRight {
    width: 710px;
}

.twoColumnSpec td {
    padding: 8px 0 0;
}

.layoutBorder {
    border-bottom: 1px solid #CCCCCC;
}

caption, th, td {
    font-weight: normal;
    text-align: left;
}

.twoColumnSpec p {
    line-height: 19px;
    max-width: 450px;
    margin: 0px;
}

p {
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 5px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}